<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MVC with Burgers!</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="/assets/js/burgers.js"></script>
</head>

<body>
	<div class="grid-container">
		<div class="header">
			<div class="bg-image">
				<div class="bg-text">
					<h1>MVC with Burger!</h1>
				</div>
			</div>
		</div>
		{{{ body }}}
	</div>
</body>

</html>