body, html {
  margin: 0;
  height: 100%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.bg-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/bg-image.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: grid;
}

.bg-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

h1 {
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

#card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;

  margin: 1rem;
  position: relative;

  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas: "header" "main-area" "footer";
}

.footer { grid-area: footer; }

.header { 
  grid-area: header; 
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.main-area {
  display: grid;
  grid-template-columns: 0.1fr 1.9fr 2.1fr 0.1fr;
  grid-template-rows: 1.7fr 0.3fr;
  gap: 1px 1px;
  grid-template-areas: ". burgers-container consumed-container ." ". input-container . .";
  grid-area: main-area;
}

.burgers-container {
  display: grid;
  grid-template-columns: 1fr 1.1fr 0.9fr;
  grid-template-rows: 0.4fr 1.6fr;
  gap: 1px 1px;
  grid-template-areas: "card card card" "card card card";
  grid-area: burgers-container;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 1.7fr;
  gap: 1px 1px;
  grid-template-areas: "burgers-title" "burgers-list";
  grid-area: card;
}

.burgers-title { 
  grid-area: burgers-title; 
  padding: 1rem;
}

.burgers-list { 
  grid-area: burgers-list; 
  padding: 1rem;
}

.consumed-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "card2 card2 card2" "card2 card2 card2";
  grid-area: consumed-container;
}

.card2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 1.7fr;
  gap: 1px 1px;
  grid-template-areas: "consumed-title" "consumed-list";
  grid-area: card2;
}

.consumed-title { 
  grid-area: consumed-title; 
  padding: 1rem;
}

.consumed-list { 
  grid-area: consumed-list; 
  padding: 1rem;
}

.input-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "card3" "card3";
  grid-area: input-container;
}

.card3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "input-title" "input-content";
  grid-area: card3;
}

.input-title { 
  grid-area: input-title; 
  padding: 1rem;
}

.input-content { 
  grid-area: input-content; 
  padding: 1rem;
}